# Binaries
4n6time
*.exe
*.test
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test data
testdata/

# Build output
build/bin/

# Frontend build output
frontend/dist/
frontend/node_modules/


# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Docker
.docker/

# Claude
CLAUDE.md
.claude/

# Document folders
Plans/
doc/